<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--Here should be a custom stylesheet, but for now we'll use bootstrap.-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->

    <!--Bootstrapping-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>

    <div class="col-sm-6">
        <div class="well">
            <p>Welcome to <%= title %></p>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="well">
            <p>Here is another well</p>
        </div>
    </div>
</div>
</body>
</html>
